<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header/header :: header">

<div class="layui-side-scroll" th:fragment="left">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">工作流操作</a>
            <dl class="layui-nav-child">
                <dd><a id="check_activiti" href="javascript:;" onclick="dirct('check_activiti','http://localhost:9999/activiti_model')" >查询流程</a></dd>
                <dd><a href="javascript:;" id="createActiviti" onclick="dirct('createActiviti','http://localhost:9999/activiti/create')">创建流程</a></dd>
                <dd><a href="javascript:;">列表三</a></dd>
                <dd><a href="">超链接</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">列表一</a></dd>
                <dd><a href="javascript:;">列表二</a></dd>
                <dd><a href="">超链接</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
    </ul>
</div>
</html>