<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:include="header/header :: header">
    <div class="layui-table">
<table id="demo" name="demo"></table>
    </div>
<script>
    layui.use('table', function(){
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 420
            ,url: '/activiti/getModel'
            ,page: true
            ,cols: [
                [
                    {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'revision', title: '用户名', width:80}
                    ,{field: 'name', title: '性别', width:80, sort: true}
                    ,{field: 'key', title: '城市', width:80}
                    ,{field: 'category', title: '签名', width: 80}
                    ,{field: 'createtime', title: '积分', width: 80, sort: true}
                    ,{field: 'lastUpdateTime', title: '评分', width: 80, sort: true}
                    ,{field: 'version', title: '职业', width: 80}
                    ,{field: 'metainfo', title: '财富', width: 80, sort: true}
                    ,{field: 'deploymentid', title: '财富', width: 80, sort: true}
                    ,{field: 'editor_source_value', title: '财富', width: 80, sort: true}
                    ,{field: 'editor_source_extra', title: '财富', width:80, sort: true}
                    ,{field: 'tenant_id', title: '财富', width: 80, sort: true}
                ]
            ]
        });
    });
</script>