<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="F:\Documents\GitHub\MixWeb\src\main\resources\static/ckplayer/ckplayer/ckplayer.js"></script>
</head>
<body>
   <div id="video" style="width: 600px;height: 400px"></div>
<script type="text/javascript">
    var videoObject={
        container:'#video',
        variable:'player',
        flashplayer:false,
        video:'D:\\迅雷下载\\[迅播影院www.XunBo.Cc]大明王朝1566-46.国语.D-vb.rmvb'
    };
    var player=new ckplayer(videoObject);
</script>
</body>
</html>